// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

//Primary
$sunflower: #ffb804;
$dark-sunflower: #f39c12;
$carrot: #e67e22;
$pumpking: #d35400;

//Secondary
$river: #3498db;
$dark-river: #2980b9;

//Info
$asphalt: #34495e;
$dark-asphalt: #2c3e50;


//Gray shadows
$clouds: #fafafa;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$brand-color: $asphalt;
$emphasized-brand-color: $dark-asphalt;

$text-color: #000;
$base-color: #fff;

$pale-color: $clouds;
$line-color: $silver;
