// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$gold: #Ff6800;

$river: #3498db;
$dark-river: #2980b9;

$clouds: #fafafa;
$silver: #bdc3c7;

$brand-color: $river;
$emphasized-brand-color: $dark-river;

$text-color: #000;
$base-color: #fff;

$pale-color: $clouds;
$line-color: $silver;
