<h1>Artistas Populares</h1>

<table class="table">
  <tbody>
<%= for x <- 1..20 do %>
<%= for artist <- @artists do %>
    <tr>
      <td>
        <%= link artist.name, to: Routes.artist_path(@conn, :show, artist) %>
      </td>
    </tr>
<% end %>
<% end %>
  </tbody>
</table>
