<h1><%= @artist.name %></h1>

<article class="tab-list">
<%= for tab <- @tabs do %>
  <%= link tab.title, to: "#{@artist.slug}/#{tab.slug}" %>
<% end %>
</article>

<hr />

<strong>Bio:</strong>
<%= @artist.bio %>
<source><%= @artist.bio_source %></source>
