.artist-name {
  font-size: 2.4rem;
  color: $river;
}

.tab-content {
  font-size: 0.8em;
}

.artist-list,
.tab-list {
  display: flex;
  flex-flow: column wrap;

  a {
    margin-left: -1rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $pale-color;

    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }
  }
}
