.search-form {
  margin-bottom: 0px;
  text-align: center;

  .search-button {
    line-height: 3rem;
    margin-bottom: 0px;
    background-color: $river;
    color: $base-color;
    border: solid 2px $dark-river;
    padding: 1px 2rem;
  }

  .searchbox {
    background-color: $base-color;

    line-height: 3rem;
    margin-bottom: 0px;
    width: 27rem;
  }
}

@media screen and (max-width: $small-break) {
  .search-form .searchbox {
    margin-bottom: 0.5rem;
  }
}
