.search-section {
  background-color: #fff;
  margin: -2rem -2rem 2rem -2rem;
  padding: 4rem;
}

.search-box {
  border: 0.2rem solid $brand-color;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 4rem 1fr 12rem;
  align-content: stretch;
}

.search-input {
  margin: 0;
  border: none !important;
}

.search-icon,
.search-btn {
  background-color: $brand-color;
  color: $base-color;
  cursor: pointer;

  width: 100%;
  padding: 0;
  margin: 0;
  border: none;

  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.search-icon {
  padding: 1rem;
}
