.star-ranking {
  color: $gold;
}

.r0:before {}
.r1:before, .r2:before  {content: "\2605";}
.r3:before, .r4:before  {content: "\2605\2605";}
.r5:before, .r6:before  {content: "\2605\2605\2605";}
.r7:before, .r8:before  {content: "\2605\2605\2605\2605";}
.r9:before, .r10:before {content: "\2605\2605\2605\2605\2605";}
