<h1>Listing Tabs</h1>

<table>
  <tbody>
<%= for tab <- @tabs do %>
    <tr>
      <td>
        <%= link tab.title, to: Routes.tab_path(@conn, :show, artist_id: tab.artist.slug, id: tab) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
