<header class="tab-header">
  <%= link @artist.name, to: Routes.artist_path(@conn, :show, @artist), class: "artist-name" %>
  <h1><%= @tab.title %></h1>
</header>

<pre class="tab-content"><%= raw beautiful_content(@tab.content) %></pre>
