<h1>
  <%= @tab.title %>
  <small><%= link @artist.name, to: Routes.artist_path(@conn, :show, @artist), class: "artist-name" %></small>
</h1>


<ul>
  <li>
    <strong>Slug:</strong>
    <%= @tab.slug %>
  </li>

  <li>
    <strong>Source:</strong>
    <%= @tab.source %>
  </li>
</ul>

<section class="tab-content">
<pre><%= @tab.content %></pre>
</section>
