<section class="phx-hero">
  <h1>Acordes <span class="totales">Totales</span></h1>
  <p>En este sitio podrás encontrar acordes y tablaturas para guitarra y otros instrumentos musicales.</p>
  <h2>¿Cómo encontrar acordes?</h2>
  <p>Escribe el nombre del artista o la canción en el buscador ubicado encima del sitio web, o has click en el nombre de tu artista en la columna ubicada a la izquierda.</p>
</section>
