<section class="home">
  <h1>¡Estás en Acordes<span class="totales">Totales</span>!</h1>
  <p>En este sitio podrás encontrar acordes y tablaturas para guitarra y otros instrumentos musicales.</p>
  <h2>¿Cómo encontrar acordes?</h2>
  <p>Escribe el nombre del artista o la canción en el buscador ubicado en la parte superior del sitio web, o has click en el nombre de tu artista favorito en la columna ubicada a la izquierda.</p>
</section>
