<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Acordes Totales" %></h1>
  <p>Encuentra los mejores acordes y tablaturas para guitarra, bajo, piano, armónica y otros instrumentos</p>
</section>
