<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CrazyWeb">
  <meta name="author" content="Nicanor Perera">

  <title>Acordes Totales</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
</head>
<body>
  <header class="site-header">
    <section class="brand">Acordes <span class="totales">TOTALES</span></section>
    <form class="search-form">
       <input id="searchbox" class="searchbox awesomplete" />

       <script>
       var input = document.getElementById("searchbox");
       var awesomplete = new Awesomplete(input);
       awesomplete.list = ["Ada", "Java", "JavaScript", "Brainfuck", "LOLCODE", "Node.js", "Ruby on Rails"];
       </script>

      <button class="search-button">Go</button>
    </form>
  </header>

  <nav class="site-nav">
    <a class="nav-link" href="/">Home</a>
    <%= link "Artistas", to: Routes.artist_path(@conn, :index), class: "nav-link" %>

    <header class="header">Tablaturas populares</header>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/">Home</a>

    <header class="header">Artistas populares</header>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/">Home</a>
  </nav>

  <main class="site-main">
    <%= if get_flash(@conn, :info) do %>
      <p class="alert alert-info closable-js" role="alert">
        <%= get_flash(@conn, :info) %>
        <span class="close close-js">&times;</span>
      </p>
    <% end %>

    <%= if get_flash(@conn, :error) do %>
      <p class="alert alert-error closable-js" role="alert">
        <%= get_flash(@conn, :error) %>
        <span class="close close-js">&times;</span>
      </p>
    <% end %>


    <%= render @view_module, @view_template, assigns %>
  </main>

  <footer class="site-footer">
    <a class="nav-link" href="/docs">Docs</a>
  </footer>

  <script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
</body>
</html>
