.site-header { grid-area: header; }
.site-nav    { grid-area: nav; }
.site-main   { grid-area: main; }
.site-footer { grid-area: footer; }

html,
body {
  height: 100%;
}

body {
  background-color: $base-color;

  display: grid;
  grid-template-areas:
    'header header'
    'nav    main  '
    'footer footer';
  grid-template-rows: 8rem 1fr 4rem;
  grid-template-columns: 24rem 1fr;
}

@media screen and (max-width: $small-break) {
  body {
    grid-template-areas:
      'header'
      'main'
      'nav'
      'footer';
    grid-template-rows: 8rem 1fr 1fr 4rem;
    grid-template-columns: 1fr;
  }
}
