.site-brand  { grid-area: brand; }
.site-header { grid-area: header; }
.site-nav    { grid-area: nav; }
.site-main   { grid-area: main; }
.site-footer { grid-area: footer; }

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    'brand  header'
    'nav    main'
    'footer footer';
  grid-template-rows: 8rem 1fr 4rem;
  grid-template-columns: 28rem 1fr;
}

@media screen and (max-width: $small-break) {
  body {
    grid-template-areas:
      'brand'
      'header'
      'main'
      'nav'
      'footer';
    grid-template-rows: 8rem 8rem 1fr 1rem 4rem;
    grid-template-columns: 1fr;
  }
}
