.site-nav{
  padding: 3rem;
  display: flex;
  flex-flow: column wrap;

  z-index: 0;
  box-shadow: 1px -3px 1px 1px rgba(0, 0, 0, 0.2);

  .header {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $gold;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    color: $text-color;
    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }
  }
}

@media screen and (max-width: $small-break) {
  .site-nav { display: none; }
}
