.site-nav{
  color: $concrete;

  padding: 3rem;

  display: flex;
  flex-flow: column wrap;

  .header {
    padding: 1rem;
    color: $carrot;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }
  }
}
